<%- include('header.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <div class="header__logo">
        <a href="/home"><img src="/assets/img/logo.png" alt="Logo" /></a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <nav class="header__menu mobile-menu">
        <ul>
          <li class="active"><a href="/home">Home</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/shop/men">Men</a></li>
          <li><a href="/shop/women">Women</a></li>
          <li><a href="/contactUs">Contact us</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-3 col-md-3">
      <div class="header__nav__option">
      <a href="/wishlist"><img src="/assets/img/icon/heart.png" alt=""><span class="cart-badge badge bg-danger ml-1" style="color: white; border-radius: 50%; "><%=wishlistCount%></span>
         </a>
        <a href="/cart"><img src="/assets/img/icon/cart.png" alt="">
          <span class="cart-badge badge bg-danger" style="color: white; border-radius: 50%; "><%=cartCount%></span>
        </a>
      </div>
    </div>
  </div>
  <div class="canvas__open"><i class="fa fa-bars"></i></div>
</div>
</header>
<!-- Header Section End -->

<div class="container">
  <h1 class="text-center mb-4 font-weight-bold">Manage Addresses</h1>

  <!-- Available Addresses -->
  <% if(addresses[0]?.address?.length > 0){ %>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body" style="box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);">
          <h4 class="card-title">Available Addresses</h4>
          <% for(let i=0; i<addresses[0].address.length; i++) { %>
          <ul class="list-group list-group-flush mb-2">
            <div class="card" style="width: 100%;">
              <li class="list-group-item">
                <strong><%= addresses[0].address[i].name %></strong>
                <span class="float-right">
                  <i class="bi bi-info-circle text-primary mr-1"></i>
                  <span><%= addresses[0].address[i].type %></span>
                </span> <br>
                <%= addresses[0].address[i].house %><br>
                <%= addresses[0].address[i].locality %><br>
                <%= addresses[0].address[i].city %>, <%= addresses[0].address[i].state %><br>
                <%= addresses[0].address[i].pincode %><br>
                <strong>Mobile:</strong> <%= addresses[0].address[i].mobile %><br>
                <div class="mt-2">
                  <button type="button" class="btn btn-sm btn-info mr-2 px-4 btn-light" style="box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);" onclick="location.href='/profile/manageAddress/editAddress?index=<%= i %>'">Edit</button>
                  <button type="button" class="btn btn-sm btn-danger px-4" style="box-shadow: 0px 3px 10px rgba(255, 0, 0, 0.2);" onclick="deleteAddress('<%= i %>')">Delete</button>
                </div>
              </li>
            </div>
          </ul>
          <% } %>

        </div>
      </div>
    </div>
  </div>
  <% } else { %>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body" style="box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);">
          <h5 class="text-warning">No Address Available</h5>
        </div>
      </div>
    </div>
  </div>
  <%}%>
   

    <!-- Add New Address -->
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body"  style="box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);">
                    <h4 class="card-title">Add New Address</h4>
                    <div class="list-group">
                        <button type="button" class="btn btn-dark btn-block mb-2" onclick="location.href='/profile/manageAddress/addAddress'">Add New Address</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer.ejs') %>

  <script>
    // Delete address function
    function deleteAddress(index) {
      Swal.fire({
        title: "Are you sure?",
        text: "This address will get removed",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes",
        cancelButtonText: "Cancel",
        reverseButtons: true,
      }).then((result) => {
        if (result.isConfirmed) {
          // Sending delete request to the controller
          axios
            .delete(`/profile/manageAddress?id=${index}`)
            .then((response) => {
              if (response.data.success) {
                Swal.fire(
                  "Deleted!",
                  "Address has been successfully deleted.",
                  "success"
                ).then(() => {
                  window.location.reload();
                });
              } else {
                Swal.fire("Error!", "Failed to delete the address.", "error");
              }
            })
            .catch((error) => {
              console.error("Error deleting the address:", error);
              Swal.fire(
                "Error!",
                "An error occurred while deleting the address.",
                "error"
              );
            });
        }
      });
    }
  </script>